
// PORTFOLIO
// SECTION

.portfolio-sec {
	background-color: $accent-c;
	h2 {
		color: $main-c;
		border-color: $main-c;
    
	}
}
#portfolio {
	background-color: #333;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project {
	width: 32%;
	padding: 5px;
	opacity: 0;
	text-align: center;
	transform: translateX(-25px);
	transition: all .5s ease-in;
	img {
		display: inline-block;
	}
	
}